# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.env/
*.venv

# Configurações do editor
.vscode/
.idea/
*.swp

# Arquivos de logs e depuração
*.log
debug.log

# Banco de dados binário do CamurçaSQL
*.bin
*.db
*.sqlite

# Dependências (se usar pipenv ou poetry)
Pipfile
Pipfile.lock
poetry.lock

# Arquivos temporários
.DS_Store
*.tmp
*.bak